body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mark_art_on_main {padding: 1px 12px;background-color: #777;color: #fff;font-size: 13px;}

.readers_controls {}
.reader_hide {display: none;}

.wpadmin_btn_readers {height: 22px;width: 22px;padding: 0;border: none;cursor: pointer;margin:0;display: inline-block;}
    .wpadmin_btn_edit_reader {/*float:right;*/}
    .wpadmin_btn_save_reader {margin-top: 30px;background:url("/images/assets/btn_save.png") no-repeat;background-size: cover;}
    .wpadmin_btn_delete_reader {background:url("/images/assets/btn_delete.svg") no-repeat;background-size: cover;}

.modal_edit_reader {position: fixed;top: 40%;border: 1px solid;padding:0 20px 20px 20px;background-color: #fff;width: 92%;left: 4%;
    -webkit-box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.75); box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.75);}
    .modal_edit_reader_title {padding: 1px 15px;background-color: grey;color: #ffffff;margin: 0 -20px 12px -20px;}
    .modal_edit_reader_item_form {width: 150px;display: inline-block;}
