body { font-family: 'Merriweather', serif; /*min-height: 2000px;*/ /*padding-top: 70px;*/}
.main_img {width: 100%; margin: 0 0 15px 0;}

/* ======================================= */
/*.with_delimiter {border-right: 2px solid #757575;}*/
.wrap_main_menu {position: relative;/*margin: 20px 0;*/ height: 46px;}
    .navbar-absolute {position: absolute;/*width: 100%;*//*top:140px;*/}
.navbar {margin: 0;min-height: 0;}
.navbar-fixed-top {}
.navbar-collapse {padding: 0;margin: 0!important;text-align: center;/*border-top: 2px solid #332f2e!important;border-bottom: 2px solid #332f2e!important;*/}
.navbar-default {border-top: 2px solid #332f2e!important;border-bottom: 2px solid #332f2e!important;background-color: #fff;border: none;line-height: 0;}
.nav {display: inline-block;float: none;}
.nav > li > a {/*font-family: "Native";*/font-size: 18px;color: #332f2e!important;margin: 7px 11px;padding:4px 10px;/*font-weight: bold;*/}
.nav > .active > a, .nav > li > a:hover {color: #707b7c!important;background-color: #fff!important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {color: gray!important;background-color: #f4f6f6!important;}
.dropdown-menu {background-color: #f4f6f6!important;}
    .dropdown-menu > li > a {padding: 10px 40px;font-size: 18px;}
    .dropdown-menu > li > a:hover {color: gray;}
.dark_top_menu {background-color: #212121;color: #fff;}

/* ======================================= */
.nav > li > a.lid {padding-left: 35px;}
.nav > li > a.lk {background: url("/images/assets/logIn.png") no-repeat;background-size: contain;}
    .nav > li > a.lk:hover {background: url("/images/assets/logIn_hover.png") no-repeat;background-size: contain;}
.nav > li > a.subscribe {background: url("/images/assets/subscribe.png") no-repeat;background-size: contain;}
    .nav > li > a.subscribe:hover {background: url("/images/assets/subscribe_hover.png") no-repeat;background-size: contain;}
.nav > li > a.search {background: url("/images/assets/search.png") no-repeat;background-size: contain;}
    .nav > li > a.search:hover {background: url("/images/assets/search_hover.png") no-repeat;background-size: contain;}

/* ======================================= */
.breadcrumb {background: no-repeat;padding: 0;margin: 30px 0px 5px 0;text-transform: uppercase;}
.breadcrumb > a {color: #9e9e9e;}
.breadcrumb > a:hover {text-decoration: none; color: #0080ff;}
.breadcrumb > span {color: #9e9e9e;margin: 0 3px;}
.breadcrumb > .end_breadcrumb {color: #333;margin: 0;}

.article_meta {padding: 7px 15px;margin: 15px 0px; color: grey;background-color: whitesmoke;}
.article_meta > p {margin: 0;}
.article_wrap {text-align: justify;overflow: hidden;}


/* ======================================= */
/*.title_block {margin: 40px 0 0 0;border-bottom: 2px solid #2196f3;}
    .title_block > .bgr_title_block, .title_block > .bgr_title_block_2 {height: 60px; width: 20px; background-color: #2196f3;float: left; margin-right: 3px;}
    .title_block > .bgr_title_block_2 {width: 5px;margin-right: 10px;}
    .title_block > h1 {font-size: 28px; text-transform: uppercase; font-weight: bold; color: #095394;}
    .title_block_livel_2 {background-color: #dbe9d8;padding: 5px 20px;border-top: 1px solid #757575;border-bottom: 1px solid #757575;margin: 7px 0 0 0;}
        .title_block_livel_2 > h2 {margin: 0;color: #757575;}*/

/* ====== ГЛАВНАЯ ====== */
.title_block_rubrik {font-size: 28px; text-transform: uppercase; font-weight: bold; color: #095394;display: block;border-bottom: 1px solid #9d9d9d; line-height: 1;padding: 0 0 3px 30px;margin: 35px 0 10px 0;}
    .title_block_rubrik_a {color: #095394;}
        .title_block_rubrik_a:hover {text-decoration: none;color: #0080ff;}
    .icon_rubrik_1 {background: url("/images/assets/icon_rubrik_1.png") no-repeat;}
    .icon_rubrik_2 {background: url("/images/assets/icon_rubrik_2.png") no-repeat;}
    .icon_rubrik_3 {background: url("/images/assets/icon_rubrik_3.png") no-repeat;}
/* ---------- */
.item_article {margin: 20px 0 15px 0;/*height: 560px;overflow: hidden;*/}
    .item_article_title {display: block; color: #000; margin: 15px 0 5px 0; font-size: 16px;line-height: 1.4;/*height: 90px; overflow: hidden;*/font-weight: bold;}
    .item_article_title:hover {text-decoration: none;color: #0080ff;}
    .item_article_meta {margin: 12px 0 4px 0;color: grey;font-size: 12px;} .fa {margin-right: 7px;}
    .item_article_img {width:100%;}
    .item_article_content {color: #544b48; font-size:15px; text-align: left;/*height: 153px; overflow: hidden;*/margin: 0;}
    /* статья в широком варианте */
    .item_article_img_wide {width: 100%; max-height: 280px;}
    .item_article_title_wide {font-size: 18px;/*height: 58px;*/}
    .item_article_content_wide {font-size: 16px;/*height: 165px;*/}
    .tochki {background: url("/images/assets/tochki.png") right bottom no-repeat;height: 5px;}


/* ======================================= */
.rubrikator_h3 {margin: 0;padding: 12px 18px;background-color: #095394;color:#fff;font-size: 18px;font-weight: bold;}
.rubrikator_wrap {padding: 25px 0 25px 25px;}
    .rubrikator_item_ribrik {}
        /*.fon_item_rubrik {background: url("/images/assets/line.png") repeat-x;width: 100%; height: 2px; position: absolute;bottom: 8px;z-index: -1;}*/
        .rubrikator_link {color: #095394;font-size: 16px;background-color: #fff;line-height: 1.5;}
            .rubrikator_link:hover {text-decoration: underline;color: #0080ff;}
        /*.count_art_in_rubrik {float: right;color: #757575;font-weight: bold;background-color: #fff; padding-left: 8px;}*/

/* ======================================= */
.other_articles_h3 {border-top: 1px solid #9d9d9d;font-weight: bold;color: #9d9d9d;margin: 0;padding: 13px 0;font-size: 18px;}
    .other_articles_link {color: #212121;display: inline-block;margin: 7px 10px 7px 0px;font-weight: bold;}
    .other_articles_link:hover {text-decoration: none;}

/*.item_block_last_art {margin: 20px 0px 30px 0px;font-size: 16px;color: #616161;}*/
    /*.item_block_last_art > .title_rubrik {color: #eeeeee;padding: 3px 12px;background-color: #e91e63;text-transform: uppercase;font-size: 14px;margin-right: 7px;}*/
        /*.item_block_last_art > .title_rubrik:hover {text-decoration: none; background-color: #c0c0c0; color: #fff;}*/
    /*.item_block_last_art > .title_article {color: #000;text-transform: uppercase;line-height: 1.5;font-weight: bold;}*/
        /*.item_block_last_art > .title_article:hover {text-decoration: none; color: #428bca;}*/
    /*.item_block_last_art > .meta_block {font-size: 14px;margin: 6px 0;color: #c0c0c0;}*/
    /*.item_block_last_art > .content_article {text-align: justify;}*/






/* ======================================= */
footer {background-color: #D1D0CE; /*padding: 25px 0 0px 0;*/margin-top: 60px;}
    .wrap_footer_logo {text-align: center;}
        .footer_logo_link {display: inline-block;margin: 25px 0 10px 0;}
            .footer_logo_img {width: 115px;}
        .footer_slogan {margin: 5px 0;line-height: 1;font-weight: bold;color: #736F6E;}
        .fs1 {font-size: 12px;}
        .fs2 {font-size: 14px;}
        .footer_notes {font-size: 8px;text-align: left;margin: 15px 0;display: table;}
            .footer_notes_img {width: 35px;margin: 5px;float: left;}
            .footer_notes_text {vertical-align: middle;margin: 0;display: table-cell;float: none;color: #504A4B;}

    .footer_block_title {font-weight: bold;font-size: 19px;margin: 25px 0 10px 0;color: #565051;}
    .footer_block_link {display: inline-block;margin: 4px 0;line-height: 1.3;font-size: 16px;color: #2B547E;}

    .footer_socNets {margin-top: 20px;}
        .footer_socNets_link {margin-right: 3px;}
            .footer_socNets_link:hover {text-decoration: none;}
        .footer_socNets_img {width: 30px;}

    .footer_copyright {text-align: center;color: #fff;background-color: #B6B6B4;padding: 10px 0;color: #666362;}

    /*
    footer > div > div > div {padding-top: 25px;}
    .footer_left_content {color: #757575;margin: 15px 0 0 0; font-size: 16px;}
    .footer_h2 {color: #b8b8b8;margin: 0 0 15px 0;font-size: 19px;border-bottom: 1px solid;padding-bottom: 15px;}
    .footer_contact {color: #757575;font-size: 16px;}
    .footer_contact_title {color: #fff;}
    .footer_contact_phone {}
    .footer_contact_email {}
    .footer_link {color: #b8b8b8;display: block;font-size: 16px;margin-bottom: 10px;}
        .footer_link:hover {text-decoration: none;color: #0080ff;}
    */